.jobItem {
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.jobItem header {
  padding: 3.2rem;
  display: flex;
  align-items: center;
}

.jobItem header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.jobItem header div {
  margin-left: 2.4rem;
}

.jobItem header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  margin-top: 0.4rem;
}

.jobItem header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}

.jobItem > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.jobItem footer {
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobItem footer a {
  font-size: 1.6rem;
  color: var(--color-primary);
}

.jobItem footer .jobItemfooterButtonLink {
  text-decoration: none;
}

.jobItem footer button {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 00.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2;
}

.jobItem footer button:hover {
  background: var(--color-secundary-dark);
}

@media (min-width: 700px) {
  .jobItem header,
  .jobItem footer {
    padding: 3.2rem;
  }

  .jobItem > p {
    padding: 0 3.2rem;
  }

  .jobItem footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }

  .jobItem footer button {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
  }
  
  .jobItem footer button img {
    margin-right: 1.6rem;
  }

}