#home-page-form {
  width: 100vw;
  height: 100vh;
}

#home-page-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#home-page-form main {
  background: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#home-page-form main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#home-page-form main fieldset + fieldset {
  margin-top: 6.4rem;
}

#home-page-form main fieldset legend {
  font: 700 2.4rem Archivo; 
  color: var(--color-text-title);
  margin-bottom: 2.4rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */

  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-line-in-white);
}

#home-page-form main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
}

#home-page-form main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
}

#home-page-form main footer p img {
  margin-right: 2rem;
}

#home-page-form .social-medias-homepage-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  transition: 0.2s;
}

#home-page-form .social-medias-homepage-footer .linkedin-icon {
  color: var(--color-text-complement);
  margin-left: 5px;
}

#home-page-form .social-medias-homepage-footer .whatsapp-icon {
  color: var(--color-text-complement);
}


#home-page-form .social-medias-homepage-footer .linkedin-icon:hover {
  color: #3f86cd;
}

#home-page-form .social-medias-homepage-footer .whatsapp-icon:hover {
  color: #3fcd81;
}

@media (min-width: 700px) {
  #home-page-form {
    max-width: 100vw;
  }

  #home-page-form .page-header .header-content {
    margin-bottom: 0;
  }

  #home-page-form main fieldset {
    padding: 0 6.4rem;
  }
  
  #home-page-form main footer {
    padding: 4.0rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #home-page-form main footer p {
    justify-content: space-between;
  }

  #home-page-form main footer .social-medias-homepage-footer {
    width: 20rem;
    margin-top: 0;
  }
}